<form ng-submit="addUser.$valid && savePlayer()"  class="border clearfix" name="addUser" novalidate>
  <h4>Registration form</h4>
  <fieldset>
    <label for="first-name" class="required-label">Name</label>
    <input type="text" name="firstName" id="first-name" ng-model="player.firstName" required>
    <div ng-messages="addUser.firstName.$error" ng-show="!addUser.$submitted && addUser.firstName.$touched" class="error-message">
      <div ng-message="required" class="error">This field is required</div>
    </div>
  </fieldset>
  <fieldset>
    <label for="last-name" class="required-label">Surname</label>
    <input type="text" name="lastName" id="last-name" ng-model="player.lastName" required>
    <div ng-messages="addUser.lastName.$error" ng-show="!addUser.$submitted && addUser.lastName.$touched"  class="error-message">
      <div ng-message="required" class="error">This field is required</div>
    </div>
  </fieldset>
  <fieldset>
    <label for="email" class="required-label">Email</label>
    <input type="email" name="email" id="email" ng-model="player.email" required>
    <div ng-messages="addUser.email.$error" ng-show="!addUser.$submitted && addUser.email.$touched" class="error-message">
      <div ng-message="required" class="error">This field is required</div>
      <div ng-message="email"  class="warning">Your email address is invalid</div>
    </div>
  </fieldset>
  <fieldset>
    <label for="telephone">Telephone</label>
    <input type="tel" id="telephone" name="phone" ng-model="player.phone" ng-pattern="/\+{0,1}\d{12}$/i" placeholder="+380999995522">
    <div ng-messages="addUser.phone.$error" ng-show="!addUser.$submitted" class="error-message">
      <div ng-message="pattern" class="warning">Please enter valid telephone</div>
    </div>
  </fieldset>
  <fieldset>
    <label for="date-of-birth">Date Of Birth</label>
    <input type="date" id="date-of-birth" ng-model="player.date">
  </fieldset>
  <div><span class="required-label"></span> - This fields are required</div>
  <button type="submit" class="button-right" ng-disabled="addUser.$invalid">Save</button>
</form>