body{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}

.wrapper{
    width: 600px;
    margin: 0 auto;
}
h4{
    text-align: center;
    margin: 0 0 20px;
}

form label{
    display: inline-block;
    width: 49%;
}

.required-label::after{
    content: '*';
    color: #FF452F;
    margin-left: 5px;
}

form input{
    width: 50%;
    padding-left: 5px;
}

fieldset{
    border: none;
    padding: 0;
    margin: 10px 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
table td,
table th{
    border: 1px solid grey;
    padding: 10px;
}

table td{
    font-size: 0.8em;
}

.button-right{
    float: right;
}

.border{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.error-message{
    text-align: right;
    font-size: .8em;
}
.error{
    color: #FF452F;
}

.warning{
    color: #DD8C18;
}